// sieve of eratosthenes -> precomputation of primes in Nlog(log(N))
const ll N = 1e7;

vll isPrime(N + 1, 1);    
vll spf(N + 1, 1e9);      
vector<vll> pfs(N + 1);   


void computeSieveAndSPF() {
    isPrime[0] = isPrime[1] = 0;

    for (ll i = 2; i <= N; ++i) {
        if (isPrime[i]) {
            spf[i] = i;
            for (ll j = i * i; j <= N; j += i) {
                isPrime[j] = 0;
                spf[j] = min(spf[j], i);
            }
        }
    }
}

// Prime factorization using precomputed SPF
void computeAllPrimeFactors() {
    for (ll i = 2; i <= N; ++i) {
        ll x = i;
        while (x > 1) {
            ll smp = spf[x];
            pfs[i].pb(smp);
            x /= smp;
        }
    }
}

